/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog):not([class*='mt-']):not([class*='mb-']):not([class*='ml-']):not(
    [class*='mr-']
  ) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input:not([class*='font-']),
button:not([class*='font-']),
textarea:not([class*='font-']),
select:not([class*='font-']) {
  font: inherit;
}

input[type='date']::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
  -webkit-appearance: none;
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}
